# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# IDEs and editors
.idea/
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml
*.iws

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
package.lock.json
.npmrc

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/target

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDE - VSCode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
.history/*

# misc
.DS_Store
*.pem
/.sass-cache
/connect.lock
/coverage

*.log
*.jar
*.class
*.py[cod]
TEST*.xml
*.war
*.zip

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
